*{
    padding: 0;
    margin: 0;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(220, 95, 50);
    padding: 20px;
}

.logo{
    font-size: 30px;
    font-weight: bold;
}

.quicklinks{
    list-style-type: none;
    color: blue;
    cursor: pointer;
}

.create-product-form{
    padding: 20px;
    background-color: orange;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-product-form > div >input{
    padding :10px;
    width : 28vw;
}

.create-product-btn{
    background-color: rgb(33, 182, 240);
    border: none;
    cursor: pointer;
    color: white;
}

.products{
    display: flex;
    justify-content: center;
    width:100vw;
    gap:20px;
    flex-wrap: wrap;
}

.product{
    width:20vw;
    padding:10px;
    box-shadow: 2px 2px rgb(225, 225, 225);
}

.imageUrl{
    width: 100%;
}

.productTitle, .productPrice{
    font-size: 20px;
    font-weight: bold;
}

.delete{
    padding: 7px;
    border: none;
    background-color: red;
    color: white ;
    border-radius: 5px; 
    margin-right: 20px;
    cursor: pointer;
}

.update{
    padding: 7px;
    border: none;
    background-color: green;
    color: white ;
    border-radius: 5px; 
    margin-right: 20px;
    cursor: pointer;
}
